.input-search {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  width: 100rem;
  margin: 0 auto;
}

.input-search i {
  margin-right: 10px;
  font-size: 0.8rem;
  color: #888;
}

.input-search input {
  border: none;
  outline: none;
  flex: 1;
  padding: 5px;
  font-size: 1rem;
  background-color: transparent;
}

.input-search input::placeholder {
  color: #aaa;
}

.input-search:focus-within {
  border-color: #007bff;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}
