<div class="container">
  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/Oniy2nQQ2Ck"
    frameborder="0"
    allowfullscreen
  ></iframe>

  <p>
    ონლაინ მაღაზია VELI.store არის ქართული ელ. კომერციის პლატფორმა, რომელიც 2021
    წლიდან მომხმარებელს გამორჩეულ სამომხმარებლო გამოცდილებას სთავაზობს. ციფრული
    საყიდლების ველი ერთ სივრცეში აერთიანებს 20-ზე მეტ კატეგორიასა და 50 000-ზე
    მეტ პროდუქტს, რომელთა შეძენაც სახლიდან გაუსვლელად, შოპინგის ყველაზე მარტივი
    და კომფორტული გამოცდილებით შეგიძლია. ველის ყოველდღიურად 200-ზე ადამიანი
    ქმნის და ავითარებს. ბრენდის მთავარი მისიაა დაზოგოს ადამიანის ყველაზე
    მნიშვნელოვანი რესურსი - დრო. სულ ცოტა ხნის წინ კომპანიამ მიწოდების სასურველი
    დროის ინტერვალი კიდევ უფრო გააფართოვა. ახლა უკვე, ველიზე შეძენილი პროდუქტის
    მიღებას დილის 9 საათიდან ღამის 01:00 საათამდე, დღის შენთვის სასურველ
    მონაკვეთში შეძლებ.
  </p>
</div>
