<h1>Wishlist</h1>

<div class="wishlist">
  <div class="column-labels">
    <label class="product-image">Image</label>
    <label class="product-details">Product</label>
    <label class="product-price">Price</label>
    <label class="product-removal">Remove</label>
  </div>

  <div class="product" *ngFor="let item of wishlistItems">
    <div class="product-image">
      <img [src]="item.image" />
    </div>
    <div class="product-details">
      <div class="product-title">{{ item.title }}</div>
      <p class="product-description">
        {{ item.description }}
      </p>
    </div>
    <div class="product-price">{{ item.price | currency }}</div>
    <div class="product-removal">
      <button (click)="removeFromWishlist(item.id)" class="remove-product">
        Remove
      </button>
    </div>
  </div>

  <div *ngIf="wishlistItems.length === 0" class="empty-message">
    Your wishlist is empty.
  </div>
</div>
