form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 50px auto;
  padding: 15px;
  border: 1px solid black;
  border-radius: 15px;
}

div {
  margin-bottom: 10px;
}

label {
  margin-bottom: 5px;
}

input {
  padding: 8px;
  font-size: 14px;
  width: 100%;
  border-radius: 5px;
}

small {
  color: red;
}

button {
  border-radius: 15px;
  padding: 10px;
  font-size: 16px;
  background-color: black;
  color: white;
}
