// .container {
//   // width: min(100%, 1440px);
//   margin: auto;
.header_top {
  display: flex;
  justify-content: space-around;
  background-color: black;
  color: white;
  padding: 15px 0;
}
header {
  padding: 15px 0;
  display: flex;
  justify-content: space-around;
  background-color: #b4d984;
  align-items: center;

  img {
    width: 109px;
    height: 28px;
    margin-right: 5px;
  }
  input {
    width: 731px;
    height: 48px;
    border-radius: 10px;
  }
  button {
    border: none;
    background-color: #b4d984;
    font-size: 17px;
  }
}
// }
