<!-- <h1>Sign in Component</h1>
<div class="container">
  <h3>გაიარე ავტორიზაცია</h3>
  <div>
    <form [formGroup]="authForm" (submit)="onSignIn()">
      <div class="imgcontainer">
        <img
          src="https://asset.brandfetch.io/idA7HLmbSm/idcQyNI_uM.png"
          alt="veli_logo"
        />
      </div>
      <div class="form-container">
        <label for="email">E-mail</label>
        <input type="text" formControlName="email" placeholder="Enter E-mail" />

        <label for="password">Password</label>
        <input
          type="password"
          formControlName="password"
          placeholder="Enter Password"
        />

        <button type="submit">Login</button>
        <label>
          <input type="checkbox" formControlName="remember" /> Remember me
        </label>
      </div>
    </form>
  </div>
</div> -->
