<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <a href="../about/about.component.html"><h4>ჩვენ შესახებ</h4></a>
      </div>
      <div class="col-md-4">
        <h4>სოციალური ქსელები</h4>
        <ul>
          <li>
            <a href="https://www.facebook.com/velistoreshopping/"
              ><i class="fa-brands fa-facebook"></i
            ></a>
          </li>
          <li>
            <a href="https://www.instagram.com/veli.store/?hl=en"
              ><i class="fa-brands fa-instagram"></i
            ></a>
          </li>
          <li>
            <a href="https://www.youtube.com/channel/UCJOUWeSt2AAz9RWGJ518NpQ"
              ><i class="fa-brands fa-youtube"></i
            ></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/company/veli-store"
              ><i class="fa-brands fa-linkedin"></i
            ></a>
          </li>
          <li>
            <a href="https://www.tiktok.com/@veli_store?_t=8Wey4HJuTY2&_r=1"
              ><i class="fa-brands fa-tiktok"></i
            ></a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4>კონტაქტი</h4>
        <div class="contact">
          <i class="fa-solid fa-phone-volume"></i>
          <a href="tel:+032 2 56 05 0">Call Us: 032 2 56 05 05</a>
        </div>
        <div class="contact marg">
          <i class="fa-solid fa-envelope"></i>
          <a href="mailto:support@velii.store">support&#64;veli.store</a>
        </div>
      </div>
    </div>
    <hr />
    <p class="text-center">
      Copyright © {{ today | date : "yyyy" }} Veli.Store, ყველა უფლება დაცულია.
    </p>
  </div>
</footer>
