@use "sass:math";
$primary-color: #007bff;
$background-color: #f8f9fa;
$text-color: #333;
$card-border-color: #ddd;
$card-background-color: #fff;
$card-hover-color: #f1f1f1;
$max-width: 1200px;
$padding: 20px;
$gap: 20px;
$transition-duration: 0.3s;

.container {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 15px;
}

.cards_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: $gap;

  a {
    text-decoration: none;
  }

  .card {
    background-color: $card-background-color;
    border: 1px solid $card-border-color;
    border-radius: 8px;
    padding: $padding;
    width: calc(33.333% - #{$gap});
    height: auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow: hidden;
    transition: background-color $transition-duration,
      transform $transition-duration;

    &:hover {
      background-color: $card-hover-color;
      transform: translateY(-5px);
    }

    @media (max-width: 992px) {
      width: calc(50% - #{$gap});
    }

    @media (max-width: 768px) {
      width: calc(100% - #{$gap});
    }
    .image {
      width: 100%;
      height: auto;
      border-radius: 8px;
      margin-bottom: $padding;
    }

    .mainContent {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      overflow: hidden;

      h1 {
        font-size: 1.25rem;
        margin-bottom: math.div($padding, 2);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .price {
        color: $primary-color;
        font-weight: bold;
        margin-right: $padding;
      }

      .discount {
        color: $text-color;
        text-decoration: line-through;
      }

      .category {
        display: block;
        margin-bottom: math.div($padding, 2);
        color: $text-color;
        font-size: 0.875rem;
      }

      p {
        font-size: 0.875rem;
        color: $text-color;
        margin-bottom: $padding;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .rating {
        display: flex;
        align-items: center;

        span {
          display: flex;
          align-items: center;
          font-size: 0.875rem;

          app-rating-stars {
            margin-left: 5px;
          }
        }
      }
    }
  }
}
