<div class="container">
  <div class="cards_container">
    <!-- <img class="image" [src]="product.image" [alt]="'product' + product.id" /> მიმახინჯებს დიზაინს!!!-->

    <div class="mainContent">
      <h1>{{ product.title }}</h1>
      <div class="">
        <span class="price">{{ product.price | currency }}</span>
        <span class="discount">{{ product.discount }}</span>
      </div>
      <span class="category">{{ product.category }}</span>
      <p>{{ product.description | truncate : 10 }}</p>
      <div class="rating">
        <span>
          {{ product.rating }}
          <app-rating-stars [rating]="product.rating"></app-rating-stars>
        </span>
        <button class="wishlist-button" (click)="addToWishlist(product.id)">
          <i
            class="fa-regular fa-heart"
            [ngClass]="{
              'fa-solid': isInWishlist(product.id),
              'fa-regular': !isInWishlist(product.id)
            }"
          ></i>
          {{ isInWishlist(product.id) ? "Added" : "Add to Wishlist" }}
        </button>
      </div>
    </div>
  </div>
</div>
